body {
    font-family: sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to bottom right, #bbbec8, #fafffb);
}


main {
    max-width: 600px;
    width: 90%;
    height: 80vh;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left {
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left img {
    width: 50%;
    height: auto;
    border-radius: 5px;
}

.container {
    background: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 300px;
    margin-bottom: 40px;
    animation: fadeIn 1.2s ease-in-out;
}

/* Fade-in animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="number"] {
    width: 90%;
    padding: 10px;
    border: 1px solid #750087;
    border-radius: 6px;
    margin-bottom: 15px;
}

button {
    padding: 12px 20px;
    font-size: 16px;
    color: #fff;
    background: linear-gradient(to right, #6a11cb, #2575fc);
    border: none;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(106, 17, 203, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

button:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 20px rgba(106, 17, 203, 0.5);
}

button:active {
    transform: translateY(2px);
    box-shadow: 0 3px 10px rgba(106, 17, 203, 0.3);
}

#result {
    margin-top: 20px;
    text-align: center;
}

#bmi-value {
    font-weight: bold;
}